/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('https://i.pinimg.com/originals/8c/20/23/8c20239f1ec5777e42ae627590419576.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Center content vertically */
}

.wrapper {
  padding: 20px;
  text-align: center;
  animation: fadeIn 1s ease; /* Fade-in animation */
  transform: scale(1.2); /* Zoom effect */
}

img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

h1, p {
  color: #fff; /* Text color */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input[type='file'] {
  display: none;
}

a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  color: #fff; /* Link color */
}

.download-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
